################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleCollection/v15
/MixinWithConditionalWeakTable/.vs/SampleCollection/v15
/MixinWithConditionalWeakTable/bin/Debug
/MixinWithConditionalWeakTable/obj/Debug
