################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleCollection/v15
/MixinWithConditionalWeakTable/.vs/SampleCollection/v15
/MixinWithConditionalWeakTable/bin/Debug
/MixinWithConditionalWeakTable/obj/Debug
/ConfigPattern_Action/obj/Debug
/ConfigPattern_Action/bin/Debug
/TaskTimeoutForLongRunningProcess/bin/Debug
/TaskTimeoutForLongRunningProcess/obj/Debug
/.vs/SampleCollection/v16
